<div class="w-full max-w-[1400px] grid grid-cols-1 md:grid-cols-4 gap-4 mx-auto px-5 mb-20">
    <div class="py-2 px-5 md:p-5 flex items-center justify-between md:flex-col md:items-start md:justify-start border-[1px] border-slate-600">
        <p class="uppercase font-app-spartan font-bold text-xs lg:text-sm text-white opacity-50">ROTATION TIME</p>
        <p class="text-[24px] lg:text-[36px] text-white font-app-antonio font-[400]">{{rotation}}</p>
    </div>
    <div class="py-2 px-5 md:p-5 flex items-center justify-between md:flex-col md:items-start md:justify-start border-[1px] border-slate-600">
        <p class="uppercase font-app-spartan font-bold text-xs lg:text-sm text-white opacity-50">REVOLUTION TIME</p>
        <p class="text-[24px] lg:text-[36px] text-white font-app-antonio font-[400]">{{revolution}}</p>
    </div>
    <div class="py-2 px-5 md:p-5 flex items-center justify-between md:flex-col md:items-start md:justify-start border-[1px] border-slate-600">
        <p class="uppercase font-app-spartan font-bold text-xs lg:text-sm text-white opacity-50">RADIUS</p>
        <p class="text-[24px] lg:text-[36px] text-white font-app-antonio font-[400]">{{radius}}</p>
    </div>
    <div class="py-2 px-5 md:p-5 flex items-center justify-between md:flex-col md:items-start md:justify-start border-[1px] border-slate-600">
        <p class="uppercase font-app-spartan font-bold text-xs lg:text-sm text-white opacity-50">AVERAGE TEMP.</p>
        <p class="text-[24px] lg:text-[36px] text-white font-app-antonio font-[400]">{{temperature}}</p>
    </div>
</div>